<footer class="bg-primary text-center">
    <div class="text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © {{ getYear }} Copyright:
        <a class="text-white fw-bold" href="mailto:ipz203_tsos@student.ztu.edu.ua">ipz203_tsos@student.ztu.edu.ua</a>
    </div>
</footer>