<div class="modal fade" id="modal-heading" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="form-heading">
                    <div class="form-outline mb-4">
                        <input type="text" name="text" id="text" class="form-control">
                        <label class="form-label" for="text" style="margin-left: 0;">Title</label>
                        <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px;"></div>
                            <div class="form-notch-middle" style="width: 8px;"></div>
                            <div class="form-notch-trailing"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                <button type="submit" form="form-heading" class="btn btn-primary"></button>
            </div>
        </div>
    </div>
</div>