<!doctype html>
<html lang="en" class="h-100">
{{> head }}
<body class="wrapper">
    {{> navbar }}

    <div class="main">
        {{{ body }}}
    </div>

    {{> footer }}

    {{> scripts }}
</body>
</html>