<div class="d-flex justify-content-center align-items-center flex-column h-100 error-gradient px-2 py-4">
    <div class="text-white fw-bold font-monospace error-fs">{{ status }}</div>
    <div class="text-white fs-2 fw-bold font-monospace">Ooopps, {{ description }}</div>
</div>