<h2 class="py-3 text-center bg-dark text-light">
    Not Completed Tasks
    <span>({{ tasks.length }})</span>
</h2>

{{#if tasks}}
    {{> tasks tasks=tasks }}
{{/if }}

<script src="/static/js/drag-and-drop-tasks.js" type="module"></script>