html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

div.wrapper-card {
    padding: 0.5rem;
}
div.wrapper-card div.card div.collapsible {
    display: none;
    height: 0;
    border-top: 1px solid #dfdfdf;
}

table.table-heading th,
table.table-heading td {
    vertical-align: middle;
}
.table-heading tr:first-of-type th:last-of-type {
    width: 180px;
}

.grip-draggable {
    cursor: move;
}
.dragging {
    opacity: 0.5;
}

.gap-05 {
    gap: 0.5rem;
}
.text-no-transform {
    text-transform: none;
}