div.wrapper-card {
    padding: 0.5rem;
}
div.wrapper-card div.card div.collapsible {
    display: none;
    height: 0;
    border-top: 1px solid #dfdfdf;
}

table.table-heading th,
table.table-heading td {
    vertical-align: middle;
}
.table-heading tr:first-of-type th:last-of-type {
    width: 180px;
}

.gap-05 {
    gap: 0.5rem;
}
.text-no-transform {
    text-transform: none;
}